{% extends 'base.html' %}

{% block content %}

<!-- Start: Cart Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="cart-main">
                        <div class="container">
                            <div class="row">
                                <div class="cart-head">
                                    <div class="col-xs-12 col-sm-6 account-option">
                                        <strong>Scott Fitzgerald</strong>
                                        <ul>
                                            <li><a href="#">Edit Account</a></li>
                                            <li class="divider">|</li>
                                            <li><a href="#">Edit Pin </a></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 library-info">
                                        <ul>
                                            <li>
                                                <strong>Home Library:</strong>
                                                Stephen A. Schwarzman Building
                                            </li>
                                            <li>
                                                <strong>Email:</strong>
                                                <a href="mailto:scottfitzgerald@gmail.com">scottfitzgerald@gmail.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="page type-page status-publish hentry">
                                        <div class="entry-content">
                                            <div class="woocommerce table-tabs" id="responsiveTabs">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><b class="arrow-up"></b><a data-toggle="tab" href="#sectionA">Book Bag</a></li>
                                                    <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionB">Holds (4)</a></li>
                                                    <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionC">My Checkouts (0)</a></li>
                                                    <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionD">My eBooks (1)</a></li>
                                                    <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionE">My Lists</a></li>
                                                    <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionF">Fines/Fees ($0.00)</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="sectionA" class="tab-pane fade in active">
                                                     <form method="post" action="">
                                                    {% csrf_token %}
                                                    <table class="table table-bordered shop_table cart">
                                                        <thead>
                                                            <tr>
                                                                <th class="product-name">&nbsp;</th>
                                                                <th class="product-name">Title</th>
                                                                <th class="product-quantity">Quantity</th>
                                                                <th class="product-quantity">Action</th>
                                                                <th class="product-price">Pickup Location</th>
                                                                <th class="product-subtotal">&nbsp;</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in cart.cart_item.all %}
                                                            <tr class="cart_item">
                                                                <td data-title="cbox" class="product-cbox">
                                                                    <span>
                                                                        <input type="checkbox" id="cbox{{ forloop.counter }}" value="first_checkbox">
                                                                    </span>
                                                                </td>
                                                                <td data-title="Product" class="product-name">
                                                                    <span class="product-thumbnail">
                                                                        <a href="#"><img src="{{ item.book.image.url }}" alt="{{ item.book.title }}"></a>
                                                                    </span>
                                                                    <span class="product-detail">
                                                                        <a href="#"><strong>{{ item.book.title }}</strong></a>
                                                                        <span><strong>Author:</strong> {{ item.book.author }}</span>
                                                                        <span><strong>ISBN:</strong> {{ item.book.isbn }}</span>
                                                                        <span><strong>Price:</strong> <em>${{ item.book.price }}</em></span>
                                                                    </span>
                                                                </td>
                                                                <td data-title="Quantity" class="product-quantity">
                                                                    <form method="post" action="{% url 'cart_update' item.id %}">
                                                                        {% csrf_token %}
                                                                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="form-control">
                                                                        <input type="hidden" name="update" value="True">
                                                                        <button type="submit" class="btn btn-sm btn-primary mt-1">Update</button>
                                                                    </form>
                                                                </td>
                                                                <td data-title="action" class="product-action">
                                                                    <form method="post" action="{% url 'cart_remove' item.id %}">
                                                                        {% csrf_token %}
                                                                        <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                                                                    </form>
                                                                </td>
                                                                <td data-title="Price" class="product-price">
                                                                    <p><a href="#">Available</a> at 53rd Street Fiction (CLASSICS FIC MORRISON)</p>
                                                                </td>
                                                                <td class="product-remove">
                                                                    Item in your book bag
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </form>
                                                     </div>
                                                    <div id="sectionB" class="tab-pane fade in">
                                                        <h5>Lorem Ipsum Dolor</h5>
                                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                                    </div>
                                                    <div id="sectionC" class="tab-pane fade in">
                                                        <h5>Lorem Ipsum Dolor</h5>
                                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                                    </div>
                                                    <div id="sectionD" class="tab-pane fade in">
                                                        <h5>Lorem Ipsum Dolor</h5>
                                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                                    </div>
                                                    <div id="sectionE" class="tab-pane fade in">
                                                        <h5>Lorem Ipsum Dolor</h5>
                                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                                    </div>
                                                    <div id="sectionF" class="tab-pane fade in">
                                                        <h5>Lorem Ipsum Dolor</h5>
                                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .entry-content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Cart Section -->

{% endblock %}


