
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
    <link rel="stylesheet" href="{% static 'style_register.css'%}">
   </head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <form action="#" method="post">
      {% csrf_token %}

      {% if form.errors %}
      {% for field in form %}
      {% for error in field.errors %}
      <strong>{{ error|escape }}</strong>
      {% endfor %}
      {% endfor %}
      {% endif %}

      <div class="input-box">
        {{ form.email  }}
      </div>

      <div class="input-box">
        {{ form.password  }}
      </div>
      <div class="input-box">


      <div class="input-box button">
        <input type="Submit" value="Login Now">
      </div>
      <div class="text">
        <h3>Don't have  account? <a href="{% url 'register' %}">Register now</a></h3>
      </div>
    </form>
  </div>
</body>
</html>